<html>
<head>
    <title>Spacepic Website</title>
    <body>

        <h1>SPACEPIC</h1>
        <p>How many photos would you like? (max. 5)</p>
        <label for="numphotos">Number of photos:</label>
        <input type="number" id="numphotos" min="1" max="5" />
        <input type="submit" value="Submit" />

        {% if images %}
            <ol>
                {% for image in images %}
                <li> 
                    <img src="{{image.image_url.url}}" height="200" width="200" /> </br>
                    <p style="color: lightblue;"><u>Download</u></p>
                </li>
                {% endfor %}
            </ol>
        {% else %}
            <p>No images are available.</p>
        {% endif %}
    </body>
</head>
</html>