<html>
<head>
    <title>Spacepic Website</title>
    <body>

        <h1>SPACEPIC</h1>
        <p>How many photos would you like? (max. 5)</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

        {% if form_validation_error_message %}
        <h1>{{ form_validation_error_message }}</h1>
        {% endif %}

        {% if zip %}
        <a href="{% url 'results' %}">Link to results aka zip</a>
        {% endif %}

        {% if images %}
        <ol>
            {% for key, image in images.items %}
            <li>
                <img src="{{image}}" height="200" width="200" /> </br>
                <a href="{{ image }}" download>Download</a>
            </li>
            {% endfor %}
        </ol>
        {% else %}

        {% endif %}
    </body>
</head>
</html>